@import '../general.scss';

.Home {
  .homepage-header {
    background-color: $purple;
    color: $white;
    padding: 2rem 0;
    border-bottom: .125rem $black solid;
  }

  .about {
    padding-top: 1.5rem;
    margin: 0 auto;
    max-width: 50rem;
    text-align: justify;

    p {
      margin-bottom: 1rem;
    }

    li {
      text-align: left;
    }
  }
}
